<a class="coinbase-button" data-code="{{ code }}" href="https://www.coinbase.com/checkouts/{{ code }}" data-button-style="custom_large"></a>
<script type="text/javascript">
  $(document).ready(function() {
    $(".my-custom-link").hide(); 
    $.getScript("https://coinbase.com/assets/button.js", function() { 
      $("iframe").load(function() { 
        $(".my-custom-link").show(); 
        $(".my-custom-link").click(function(){
          $(document).trigger("coinbase_show_modal", "{{ code }}");
          return false;});
      }); 
    });
  });
</script>