@charset 'UTF-8';

a.plain:link {
    text-decoration: none;
}

a.plain:active {
    text-decoration: none;
}

a.plain:visited {
    text-decoration: none;
}

a.plain:hover {
    text-decoration: none;
}

.thumbnails {
    margin-bottom: 20px;
    height: 230px;
}

.thumbnail.plain {
    height: 100%;
}

.myThumbs {
    max-width: 65%;
    max-height: 60%;
}

.form-control {
  width: 60%;
}

.pagination {
  display: table;
  margin: 0 auto;    
}

